.bar {
    width: 100%;
    height: auto;
    margin-top: 5%;
    text-align: center;
}
.logo  {
    width: 5%;
    margin-left: 47.5%;
    margin-right: 47.5%;
}
img {
    width: 100%;
    height: auto;
}